body{
	background: #365581;
}
.resolucion{
	width: 99%;
	text-align: center;
}
/**mobile**/
@media (max-width: 767px){
}
/**tablet**/
@media (min-width: 768px) and (max-width: 990px){
}
/**desktop**/
@media (min-width: 991px){
}

header{
	font-family: Impact;
	background: #816236;
	padding: 10px;
	color: #558136;
	font-size: 40px;
	text-shadow:
	-1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px  1px 0 #000, 
    1px  1px 0 #000;
	text-align: center;
	
}
.subtitle{
	font-family: Impact;
	color:#623681;
	font-size: 40px;
	text-align: center;
}
.descript{
	font-family: "Inconsolata", monospace;
	font-size: 20px;
	text-align: center;
	transform: scale(1,0,5);

}
nav ul li{
	float: left;
	list-style:none;
	font-family: "Inconsolata", monospace;
	margin: 15px;
}

.search{
	text-align: right;
	margin:25px;
}
.clearfix{
	clear:both;
}
*{
	margin:0px;

	box-sizing:border-box;
}




.article{
	display:inline-block;
	text-align:center;
	margin: 0 auto; 
	width:30%;
	/**display:inline-block;*/ /*error en diseno se van corrigiendo cositas*/
	font-size:20px;
	padding:40px 20px;
}
.objet{
	font-family: Impact;
	font-size: 40px;
	margin: 10%;
	color: #90B2D1;
	text-shadow: 0 0 2px #190636, 0 0 1px #190636;
}
.detail{
	font-family: "Inconsolata", monospace;
	font-size: 25px;
	margin: 0;
	text-justify: center;
}